
/* ==========================================================================
   SILAM custom styles
   ========================================================================== */

html {
background: transparent url("../img/background-gradient-blue-white.jpg") repeat-x scroll 0 0;
}
   
body {
background: transparent url("../img/page.jpeg") no-repeat scroll center 0;
}

div #logo {
min-height: 100px;
line-height: 100px;
margin-right:15px;
}

.sitetitle {
text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
color: #F55505 !important;
}

.geninfo {
padding: 20px;
padding-top: 10px;
margin: 4px;
background: #fcf8e3;
color: #000;
border: 2px dashed #B4B1B1;
border-radius: 10px;
box-shadow: 0 0 0 4px #fcf8e3, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
}

#AQfront
{
position:absolute;
clip:rect(108px,503px,405px,96px);
margin-top: -108px;
margin-left: -96px;
}

.form-control {
width:85%;
}

 #toolbar {
    padding: 4px;
    display: inline-block;
  }
  /* support: IE7 */
  *+html #toolbar {
    display: inline;
  }


/*  dynamicaly resized elements*/


/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {  

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 

	div.panel{
	min-height: 482px;
	}
	
 }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

	
	div.panel{
	min-height: 479px;
	}

 }


 









